In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

print("Libraries imported successfully!")
print(f"Pandas version: {pd.__version__}")
print(f"NumPy version: {np.__version__}")

Libraries imported successfully!
Pandas version: 2.2.3
NumPy version: 2.1.3

In [2]:
# Load the CSV files
feedback_df = pd.read_csv('Customer_Feedback_Data.csv')
transaction_df = pd.read_csv('Transaction_Data.csv')

print("Datasets loaded successfully!")
print(f"\nCustomer Feedback Data shape: {feedback_df.shape}")
print(f"Transaction Data shape: {transaction_df.shape}")

Datasets loaded successfully!

Customer Feedback Data shape: (5050, 4)
Transaction Data shape: (5050, 5)

In [3]:
print("=" * 60)
print("CUSTOMER FEEDBACK DATA - QUICK OVERVIEW")
print("=" * 60)
print(f"\nShape: {feedback_df.shape}")
print(f"Columns: {feedback_df.columns.tolist()}")
display(feedback_df.head())

============================================================
CUSTOMER FEEDBACK DATA - QUICK OVERVIEW
============================================================

Shape: (5050, 4)
Columns: ['Customer_ID', 'Satisfaction_Score', 'Feedback_Comments', 'Likelihood_to_Recommend']

   Customer_ID  Satisfaction_Score  Feedback_Comments  Likelihood_to_Recommend
0            1                10.0     Very satisfied                        9
1            2                 3.0     Very satisfied                        3
2            3                10.0     Very satisfied                        1
3            4                 7.0  Needs improvement                        4
4            5                 8.0     Unsatisfactory                        7

In [4]:
print("=" * 60)
print("TRANSACTION DATA - QUICK OVERVIEW")
print("=" * 60)
print(f"\nShape: {transaction_df.shape}")
print(f"Columns: {transaction_df.columns.tolist()}")
display(transaction_df.head())

============================================================
TRANSACTION DATA - QUICK OVERVIEW
============================================================

Shape: (5050, 5)
Columns: ['Transaction_ID', 'Customer_ID', 'Transaction_Date', 'Transaction_Amount', 'Transaction_Type']

,Transaction_ID,Customer_ID,Transaction_Date,Transaction_Amount,Transaction_Type
0,1,393,2023-01-01 0:00:00,3472.0,Purchase
1,2,826,2023-01-01 1:00:00,NaN,Bill Payment
2,3,916,2023-01-01 2:00:00,10.0,Purchase
3,4,109,2023-01-01 3:00:00,72.0,Investment
4,5,889,2023-01-01 4:00:00,1793.0,Investment

In [5]:
print("=" * 60)
print("MERGING DATASETS")
print("=" * 60)

print(f"\nFeedback Data shape: {feedback_df.shape}")
print(f"Transaction Data shape: {transaction_df.shape}")

# Merge datasets on Customer_ID using INNER JOIN
merged_df = pd.merge(
    transaction_df,
    feedback_df,
    on='Customer_ID',
    how='inner'
)

print(f"\nMerged Data shape: {merged_df.shape}")
print(f"\nMerged Dataset Columns: {merged_df.columns.tolist()}")

============================================================
MERGING DATASETS
============================================================

Feedback Data shape: (5050, 4)
Transaction Data shape: (5050, 5)

Merged Data shape: (25623, 8)

Merged Dataset Columns: ['Transaction_ID', 'Customer_ID', 'Transaction_Date', 'Transaction_Amount', 'Transaction_Type', 'Satisfaction_Score', 'Feedback_Comments', 'Likelihood_to_Recommend']

In [6]:
print("=" * 60)
print("MERGED DATASET - PREVIEW")
print("=" * 60)
display(merged_df.head(10))

============================================================
MERGED DATASET - PREVIEW
============================================================

,Transaction_ID,Customer_ID,Transaction_Date,Transaction_Amount,Transaction_Type,Satisfaction_Score,Feedback_Comments,Likelihood_to_Recommend
0,1,393,2023-01-01 0:00:00,3472.0,Purchase,1.0,Excellent,3
1,2,826,2023-01-01 1:00:00,NaN,Bill Payment,NaN,Needs improvement,3
2,2,826,2023-01-01 1:00:00,NaN,Bill Payment,10.0,Good service,5
3,2,826,2023-01-01 1:00:00,NaN,Bill Payment,6.0,Unsatisfactory,8
4,2,826,2023-01-01 1:00:00,NaN,Bill Payment,3.0,Unsatisfactory,4
5,2,826,2023-01-01 1:00:00,NaN,Bill Payment,3.0,Very satisfied,10
6,2,826,2023-01-01 1:00:00,NaN,Bill Payment,9.0,Needs improvement,3
7,3,916,2023-01-01 2:00:00,10.0,Purchase,6.0,Needs improvement,3
8,3,916,2023-01-01 2:00:00,10.0,Purchase,1.0,Unsatisfactory,7
9,3,916,2023-01-01 2:00:00,10.0,Purchase,2.0,Good service,10

In [7]:
print("=" * 60)
print("MERGED DATA - DATA TYPES")
print("=" * 60)
print(merged_df.dtypes)

============================================================
MERGED DATA - DATA TYPES
============================================================
Transaction_ID               int64
Customer_ID                  int64
Transaction_Date            object
Transaction_Amount         float64
Transaction_Type            object
Satisfaction_Score         float64
Feedback_Comments           object
Likelihood_to_Recommend      int64
dtype: object

In [8]:
print("=" * 60)
print("MERGED DATA - MISSING VALUES")
print("=" * 60)
missing_values = merged_df.isnull().sum()
missing_percent = (merged_df.isnull().sum() / len(merged_df) * 100).round(2)

missing_summary = pd.DataFrame({
    'Missing Count': missing_values,
    'Missing %': missing_percent
})
print(missing_summary)

============================================================
MERGED DATA - MISSING VALUES
============================================================
                         Missing Count  Missing %
Transaction_ID                       0       0.00
Customer_ID                          0       0.00
Transaction_Date                     0       0.00
Transaction_Amount                 472       1.84
Transaction_Type                     0       0.00
Satisfaction_Score                 535       2.09
Feedback_Comments                    0       0.00
Likelihood_to_Recommend              0       0.00

In [9]:
print("=" * 60)
print("MERGED DATA - DUPLICATE CHECK")
print("=" * 60)
print(f"Total duplicate rows: {merged_df.duplicated().sum()}")
print(f"Duplicate Transaction_IDs: {merged_df['Transaction_ID'].duplicated().sum()}")
print(f"Duplicate Customer_IDs: {merged_df['Customer_ID'].duplicated().sum()}")

============================================================
MERGED DATA - DUPLICATE CHECK
============================================================
Total duplicate rows: 657
Duplicate Transaction_IDs: 20623
Duplicate Customer_IDs: 24630

In [10]:
print("=" * 60)
print("MERGED DATA - STATISTICAL SUMMARY")
print("=" * 60)
display(merged_df.describe())

============================================================
MERGED DATA - STATISTICAL SUMMARY
============================================================

,Transaction_ID,Customer_ID,Transaction_Amount,Satisfaction_Score,Likelihood_to_Recommend
count,25623.000000,25623.000000,25151.000000,25088.000000,25623.000000
mean,2508.571362,506.270772,3087.521371,5.681800,5.527339
std,1450.120959,291.475358,14683.258172,3.589328,2.876037
min,1.000000,1.000000,10.000000,1.000000,1.000000
25%,1250.000000,254.000000,1230.000000,3.000000,3.000000
50%,2520.000000,509.000000,2460.000000,6.000000,6.000000
75%,3765.000000,763.000000,3682.000000,8.000000,8.000000
max,5000.000000,1000.000000,480300.000000,60.000000,10.000000

In [11]:
print("=" * 60)
print("MERGED DATA - CATEGORICAL VALUES")
print("=" * 60)
print("\nUnique Transaction_Type values:")
print(merged_df['Transaction_Type'].unique())

print("\nUnique Feedback_Comments values:")
print(merged_df['Feedback_Comments'].unique())

============================================================
MERGED DATA - CATEGORICAL VALUES
============================================================

Unique Transaction_Type values:
['Purchase' 'Bill Payment' 'Investment' 'Loan Payment']

Unique Feedback_Comments values:
['Excellent' 'Needs improvement' 'Good service' 'Unsatisfactory'
 'Very satisfied']

In [12]:
# Create a copy for preprocessing
df_clean = merged_df.copy()

print("=" * 60)
print("STARTING DATA PREPROCESSING")
print("=" * 60)
print(f"\nOriginal merged data shape: {df_clean.shape}")

============================================================
STARTING DATA PREPROCESSING
============================================================

Original merged data shape: (25623, 8)

In [13]:
print("=" * 60)
print("STEP 1: HANDLING MISSING VALUES")
print("=" * 60)

# Check missing values before
print("\n--- Missing Values Before ---")
print(df_clean.isnull().sum())

# 6.1.1 Handle missing Satisfaction_Score - fill with median
missing_satisfaction = df_clean['Satisfaction_Score'].isnull().sum()
if missing_satisfaction > 0:
    median_satisfaction = df_clean['Satisfaction_Score'].median()
    df_clean['Satisfaction_Score'] = df_clean['Satisfaction_Score'].fillna(median_satisfaction)
    print(f"\nFilled {missing_satisfaction} missing Satisfaction_Score values with median: {median_satisfaction}")

# 6.1.2 Handle missing Transaction_Amount - fill with median
missing_amount = df_clean['Transaction_Amount'].isnull().sum()
if missing_amount > 0:
    median_amount = df_clean['Transaction_Amount'].median()
    df_clean['Transaction_Amount'] = df_clean['Transaction_Amount'].fillna(median_amount)
    print(f"Filled {missing_amount} missing Transaction_Amount values with median: {median_amount}")

# Check missing values after
print("\n--- Missing Values After ---")
print(df_clean.isnull().sum())

============================================================
STEP 1: HANDLING MISSING VALUES
============================================================

--- Missing Values Before ---
Transaction_ID               0
Customer_ID                  0
Transaction_Date             0
Transaction_Amount         472
Transaction_Type             0
Satisfaction_Score         535
Feedback_Comments            0
Likelihood_to_Recommend      0
dtype: int64

Filled 535 missing Satisfaction_Score values with median: 6.0
Filled 472 missing Transaction_Amount values with median: 2460.0

--- Missing Values After ---
Transaction_ID             0
Customer_ID                0
Transaction_Date           0
Transaction_Amount         0
Transaction_Type           0
Satisfaction_Score         0
Feedback_Comments          0
Likelihood_to_Recommend    0
dtype: int64

In [14]:
print("=" * 60)
print("STEP 2: HANDLING DUPLICATE VALUES")
print("=" * 60)

# Check duplicates before
print("\n--- Duplicates Before ---")
print(f"Total duplicate rows: {df_clean.duplicated().sum()}")
print(f"Duplicate Transaction_IDs: {df_clean['Transaction_ID'].duplicated().sum()}")

# Remove duplicate Transaction_IDs (keep first occurrence)
rows_before = len(df_clean)
df_clean = df_clean.drop_duplicates(subset=['Transaction_ID'], keep='first')
rows_removed = rows_before - len(df_clean)

print(f"\nRemoved {rows_removed} duplicate Transaction_ID rows")

# Remove complete duplicate rows
rows_before = len(df_clean)
df_clean = df_clean.drop_duplicates(keep='first')
rows_removed = rows_before - len(df_clean)

print(f"Removed {rows_removed} complete duplicate rows")

# Check duplicates after
print("\n--- Duplicates After ---")
print(f"Total duplicate rows: {df_clean.duplicated().sum()}")
print(f"Duplicate Transaction_IDs: {df_clean['Transaction_ID'].duplicated().sum()}")
print(f"\nShape after removing duplicates: {df_clean.shape}")

============================================================
STEP 2: HANDLING DUPLICATE VALUES
============================================================

--- Duplicates Before ---
Total duplicate rows: 665
Duplicate Transaction_IDs: 20623

Removed 20623 duplicate Transaction_ID rows
Removed 0 complete duplicate rows

--- Duplicates After ---
Total duplicate rows: 0
Duplicate Transaction_IDs: 0

Shape after removing duplicates: (5000, 8)

In [15]:
print("=" * 60)
print("STEP 3: HANDLING INCONSISTENT VALUES")
print("=" * 60)

# 6.3.1 Fix inconsistent Satisfaction_Score (should be 1-10 scale)
print("\n--- 3.1 Fixing Satisfaction_Score ---")
print(f"Range before: {df_clean['Satisfaction_Score'].min()} to {df_clean['Satisfaction_Score'].max()}")

# Count outliers
outliers_above = (df_clean['Satisfaction_Score'] > 10).sum()
outliers_below = (df_clean['Satisfaction_Score'] < 1).sum()
print(f"Values > 10: {outliers_above}")
print(f"Values < 1: {outliers_below}")

# Cap values to valid range (1-10)
df_clean['Satisfaction_Score'] = df_clean['Satisfaction_Score'].clip(lower=1, upper=10)
print(f"Range after clipping: {df_clean['Satisfaction_Score'].min()} to {df_clean['Satisfaction_Score'].max()}")

============================================================
STEP 3: HANDLING INCONSISTENT VALUES
============================================================

--- 3.1 Fixing Satisfaction_Score ---
Range before: 1.0 to 60.0
Values > 10: 18
Values < 1: 0
Range after clipping: 1.0 to 10.0

In [16]:
# 6.3.2 Fix inconsistent Transaction_Amount (handle outliers)
print("\n--- 3.2 Fixing Transaction_Amount Outliers ---")
print(f"Range before: {df_clean['Transaction_Amount'].min():.2f} to {df_clean['Transaction_Amount'].max():.2f}")

# Identify outliers using IQR method
Q1 = df_clean['Transaction_Amount'].quantile(0.25)
Q3 = df_clean['Transaction_Amount'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers_count = ((df_clean['Transaction_Amount'] < lower_bound) | 
                  (df_clean['Transaction_Amount'] > upper_bound)).sum()
print(f"Outliers detected (IQR method): {outliers_count}")
print(f"IQR bounds: [{lower_bound:.2f}, {upper_bound:.2f}]")

# Cap outliers
df_clean['Transaction_Amount'] = df_clean['Transaction_Amount'].clip(lower=max(0, lower_bound), upper=upper_bound)
print(f"Range after capping: {df_clean['Transaction_Amount'].min():.2f} to {df_clean['Transaction_Amount'].max():.2f}")

--- 3.2 Fixing Transaction_Amount Outliers ---
Range before: 10.00 to 480300.00
Outliers detected (IQR method): 10
IQR bounds: [-2373.00, 7315.00]
Range after capping: 10.00 to 7315.00

In [17]:
# 6.3.3 Standardize categorical columns
print("\n--- 3.3 Standardizing Categorical Columns ---")

# Standardize Transaction_Type
print("\nTransaction_Type before:")
print(df_clean['Transaction_Type'].unique())
df_clean['Transaction_Type'] = df_clean['Transaction_Type'].str.strip().str.title()
print("Transaction_Type after:")
print(df_clean['Transaction_Type'].unique())

# Standardize Feedback_Comments
print("\nFeedback_Comments before:")
print(df_clean['Feedback_Comments'].unique())
df_clean['Feedback_Comments'] = df_clean['Feedback_Comments'].str.strip().str.title()
print("Feedback_Comments after:")
print(df_clean['Feedback_Comments'].unique())

--- 3.3 Standardizing Categorical Columns ---

Transaction_Type before:
['Purchase' 'Bill Payment' 'Investment' 'Loan Payment']
Transaction_Type after:
['Purchase' 'Bill Payment' 'Investment' 'Loan Payment']

Feedback_Comments before:
['Excellent' 'Needs improvement' 'Good service' 'Very satisfied'
 'Unsatisfactory']
Feedback_Comments after:
['Excellent' 'Needs Improvement' 'Good Service' 'Very Satisfied'
 'Unsatisfactory']

In [18]:
# 6.3.4 Convert Transaction_Date to proper datetime format
print("\n--- 3.4 Converting Date Column ---")
print(f"Transaction_Date dtype before: {df_clean['Transaction_Date'].dtype}")
df_clean['Transaction_Date'] = pd.to_datetime(df_clean['Transaction_Date'])
print(f"Transaction_Date dtype after: {df_clean['Transaction_Date'].dtype}")
print(f"Date range: {df_clean['Transaction_Date'].min()} to {df_clean['Transaction_Date'].max()}")

--- 3.4 Converting Date Column ---
Transaction_Date dtype before: object
Transaction_Date dtype after: datetime64[ns]
Date range: 2023-01-01 00:00:00 to 2023-07-28 07:00:00

In [19]:
# 6.3.5 Ensure correct data types for all columns
print("\n--- 3.5 Ensuring Correct Data Types ---")
print("Data types before:")
print(df_clean.dtypes)

df_clean['Transaction_ID'] = df_clean['Transaction_ID'].astype(int)
df_clean['Customer_ID'] = df_clean['Customer_ID'].astype(int)
df_clean['Satisfaction_Score'] = df_clean['Satisfaction_Score'].astype(float)
df_clean['Likelihood_to_Recommend'] = df_clean['Likelihood_to_Recommend'].astype(int)

print("\nData types after:")
print(df_clean.dtypes)

--- 3.5 Ensuring Correct Data Types ---
Data types before:
Transaction_ID                      int64
Customer_ID                         int64
Transaction_Date           datetime64[ns]
Transaction_Amount                float64
Transaction_Type                   object
Satisfaction_Score                float64
Feedback_Comments                  object
Likelihood_to_Recommend             int64
dtype: object

Data types after:
Transaction_ID                      int64
Customer_ID                         int64
Transaction_Date           datetime64[ns]
Transaction_Amount                float64
Transaction_Type                   object
Satisfaction_Score                float64
Feedback_Comments                  object
Likelihood_to_Recommend             int64
dtype: object

In [20]:
print("=" * 60)
print("FINAL DATA ORGANIZATION")
print("=" * 60)

# Reorder columns for better readability
print("\n--- Reordering Columns ---")
column_order = [
    'Transaction_ID',
    'Customer_ID',
    'Transaction_Date',
    'Transaction_Amount',
    'Transaction_Type',
    'Satisfaction_Score',
    'Feedback_Comments',
    'Likelihood_to_Recommend'
]
df_clean = df_clean[column_order]
print(f"Column order: {df_clean.columns.tolist()}")

# Sort by Transaction_Date
print("\n--- Sorting by Transaction_Date ---")
df_clean = df_clean.sort_values('Transaction_Date').reset_index(drop=True)
print("Data sorted by Transaction_Date.")

print(f"\nFinal shape: {df_clean.shape}")

============================================================
FINAL DATA ORGANIZATION
============================================================

--- Reordering Columns ---
Column order: ['Transaction_ID', 'Customer_ID', 'Transaction_Date', 'Transaction_Amount', 'Transaction_Type', 'Satisfaction_Score', 'Feedback_Comments', 'Likelihood_to_Recommend']

--- Sorting by Transaction_Date ---
Data sorted by Transaction_Date.

Final shape: (5000, 8)

In [21]:
print("=" * 60)
print("FINAL DATA QUALITY CHECK")
print("=" * 60)

print(f"\nFinal Shape: {df_clean.shape}")
print(f"\nMissing Values: {df_clean.isnull().sum().sum()}")
print(f"Duplicate Rows: {df_clean.duplicated().sum()}")
print(f"Duplicate Transaction_IDs: {df_clean['Transaction_ID'].duplicated().sum()}")

print("\n--- Data Types ---")
print(df_clean.dtypes)

print("\n--- Value Ranges ---")
print(f"Satisfaction_Score: {df_clean['Satisfaction_Score'].min()} to {df_clean['Satisfaction_Score'].max()}")
print(f"Likelihood_to_Recommend: {df_clean['Likelihood_to_Recommend'].min()} to {df_clean['Likelihood_to_Recommend'].max()}")
print(f"Transaction_Amount: {df_clean['Transaction_Amount'].min():.2f} to {df_clean['Transaction_Amount'].max():.2f}")

============================================================
FINAL DATA QUALITY CHECK
============================================================

Final Shape: (5000, 8)

Missing Values: 0
Duplicate Rows: 0
Duplicate Transaction_IDs: 0

--- Data Types ---
Transaction_ID                      int64
Customer_ID                         int64
Transaction_Date           datetime64[ns]
Transaction_Amount                float64
Transaction_Type                   object
Satisfaction_Score                float64
Feedback_Comments                  object
Likelihood_to_Recommend             int64
dtype: object

--- Value Ranges ---
Satisfaction_Score: 1.0 to 10.0
Likelihood_to_Recommend: 1 to 10
Transaction_Amount: 10.00 to 7315.00

In [22]:
print("=" * 60)
print("FINAL CLEANED DATASET - PREVIEW")
print("=" * 60)

print("\n--- First 20 Rows ---")
display(df_clean.head(20))

============================================================
FINAL CLEANED DATASET - PREVIEW
============================================================

--- First 20 Rows ---

,Transaction_ID,Customer_ID,Transaction_Date,Transaction_Amount,Transaction_Type,Satisfaction_Score,Feedback_Comments,Likelihood_to_Recommend
0,1,393,2023-01-01 00:00:00,3472.0,Purchase,1.0,Excellent,3
1,2,826,2023-01-01 01:00:00,2460.0,Bill Payment,6.0,Needs Improvement,3
2,3,916,2023-01-01 02:00:00,10.0,Purchase,6.0,Needs Improvement,3
3,4,109,2023-01-01 03:00:00,72.0,Investment,3.0,Good Service,9
4,5,889,2023-01-01 04:00:00,1793.0,Investment,8.0,Very Satisfied,3
5,6,348,2023-01-01 05:00:00,3824.0,Loan Payment,6.0,Unsatisfactory,8
6,7,50,2023-01-01 06:00:00,235.0,Loan Payment,6.0,Unsatisfactory,4
7,8,916,2023-01-01 07:00:00,1052.0,Loan Payment,6.0,Needs Improvement,3
8,9,105,2023-01-01 08:00:00,854.0,Purchase,8.0,Good Service,4
9,10,420,2023-01-01 09:00:00,2690.0,Investment,5.0,Good Service,8
10,11,373,2023-01-01 10:00:00,4129.0,Investment,6.0,Needs Improvement,6
11,12,27,2023-01-01 11:00:00,1244.0,Investment,6.0,Unsatisfactory,5
12,13,968,2023-01-01 12:00:00,1994.0,Bill Payment,10.0,Needs Improvement,4
13,14,800,2023-01-01 13:00:00,4266.0,Purchase,8.0,Very Satisfied,10
14,15,769,2023-01-01 14:00:00,1288.0,Purchase,3.0,Excellent,2
15,16,273,2023-01-01 15:00:00,1604.0,Loan Payment,10.0,Needs Improvement,7
16,17,649,2023-01-01 16:00:00,2561.0,Bill Payment,10.0,Unsatisfactory,2
17,18,340,2023-01-01 17:00:00,1962.0,Bill Payment,5.0,Good Service,9
18,19,301,2023-01-01 18:00:00,1705.0,Investment,7.0,Needs Improvement,8
19,20,480,2023-01-01 19:00:00,964.0,Loan Payment,2.0,Unsatisfactory,3

In [23]:
print("=" * 60)
print("FINAL STATISTICAL SUMMARY")
print("=" * 60)
display(df_clean.describe(include='all'))

============================================================
FINAL STATISTICAL SUMMARY
============================================================

,Transaction_ID,Customer_ID,Transaction_Date,Transaction_Amount,Transaction_Type,Satisfaction_Score,Feedback_Comments,Likelihood_to_Recommend
count,5000.000000,5000.000000,5000,5000.000000,5000,5000.00000,5000,5000.000000
unique,NaN,NaN,NaN,NaN,4,NaN,5,NaN
top,NaN,NaN,NaN,NaN,Loan Payment,NaN,Good Service,NaN
freq,NaN,NaN,NaN,NaN,1279,NaN,1348,NaN
mean,2500.500000,505.295400,2023-04-15 03:30:00,2495.899800,NaN,5.56180,NaN,5.447200
min,1.000000,1.000000,2023-01-01 00:00:00,10.000000,NaN,1.00000,NaN,1.000000
25%,1250.750000,252.000000,2023-02-22 01:45:00,1260.000000,NaN,3.00000,NaN,3.000000
50%,2500.500000,509.000000,2023-04-15 03:30:00,2460.000000,NaN,6.00000,NaN,5.000000
75%,3750.250000,765.250000,2023-06-06 05:15:00,3682.000000,NaN,8.00000,NaN,8.000000
max,5000.000000,1000.000000,2023-07-28 07:00:00,7315.000000,NaN,10.00000,NaN,10.000000
std,1443.520003,291.844284,NaN,1439.234997,NaN,2.77527,NaN,2.812756

In [24]:
# Save the final cleaned and merged dataset
output_filename = 'Merged_Customer_Transaction_Data_Cleaned.csv'
df_clean.to_csv(output_filename, index=False)

print("=" * 60)
print("EXPORT COMPLETE")
print("=" * 60)
print(f"\nFinal dataset saved as: {output_filename}")
print(f"Total rows: {len(df_clean)}")
print(f"Total columns: {len(df_clean.columns)}")

============================================================
EXPORT COMPLETE
============================================================

Final dataset saved as: Merged_Customer_Transaction_Data_Cleaned.csv
Total rows: 5000
Total columns: 8

In [25]:
print("=" * 60)
print("PREPROCESSING COMPLETE!")
print("=" * 60)
print("\nWorkflow completed:")
print("1. Datasets loaded")
print("2. Datasets merged on Customer_ID")
print("3. Missing values handled")
print("4. Duplicates removed")
print("5. Inconsistent values fixed")
print("6. Data exported")
print(f"\nCleaned dataset is ready: {output_filename}")

============================================================
PREPROCESSING COMPLETE!
============================================================

Workflow completed:
1. Datasets loaded
2. Datasets merged on Customer_ID
3. Missing values handled
4. Duplicates removed
5. Inconsistent values fixed
6. Data exported

Cleaned dataset is ready: Merged_Customer_Transaction_Data_Cleaned.csv