In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

print("Libraries imported successfully!")

Libraries imported successfully!

In [2]:
# Load the dataset from CSV
df = pd.read_csv('Product_Offering_Data.csv')

# Display basic information
print("Dataset loaded successfully!")
print(f"\nShape: {df.shape[0]} rows, {df.shape[1]} columns")

Dataset loaded successfully!

Shape: 15 rows, 6 columns

In [3]:
# Display the first few rows
print("First 10 rows of the dataset:")
df.head(10)

First 10 rows of the dataset:

,Product_ID,Product_Name,Product_Type,Risk_Level,Target_Age_Group,Target_Income_Group
0,1,Platinum Credit Card,Credit Card,Medium,NaN,Medium
1,2,Gold Savings Account,Savings Account,Low,NaN,Low
2,3,High-Yield Investment Account,Investment,High,NaN,High
3,4,Mortgage Loan,Loan,Medium,NaN,High
4,5,Auto Loan,Loan,Medium,NaN,Medium
5,6,Personal Loan,Loan,Medium,NaN,Low
6,7,Youth Savings Account,Savings Account,Low,NaN,Low
7,8,Retirement Investment Fund,Investment,High,NaN,High
8,9,Business Loan,Loan,Medium,NaN,Medium
9,10,Travel Credit Card,Credit Card,Medium,NaN,Medium

In [4]:
# Display all rows to see the complete dataset
print("Complete Dataset:")
df

Complete Dataset:

,Product_ID,Product_Name,Product_Type,Risk_Level,Target_Age_Group,Target_Income_Group
0,1,Platinum Credit Card,Credit Card,Medium,NaN,Medium
1,2,Gold Savings Account,Savings Account,Low,NaN,Low
2,3,High-Yield Investment Account,Investment,High,NaN,High
3,4,Mortgage Loan,Loan,Medium,NaN,High
4,5,Auto Loan,Loan,Medium,NaN,Medium
5,6,Personal Loan,Loan,Medium,NaN,Low
6,7,Youth Savings Account,Savings Account,Low,NaN,Low
7,8,Retirement Investment Fund,Investment,High,NaN,High
8,9,Business Loan,Loan,Medium,NaN,Medium
9,10,Travel Credit Card,Credit Card,Medium,NaN,Medium
10,2,Gold Savings Account,Savings Account,Low,NaN,Low
11,10,Travel Credit Card,Credit Card,Medium,NaN,Medium
12,3,High-Yield Investment Account,Investment,High,NaN,High
13,6,Personal Loan,Loan,Medium,NaN,Low
14,1,Platinum Credit Card,Credit Card,Medium,NaN,Medium

In [5]:
# Check data types
print("Data Types:")
print(df.dtypes)

Data Types:
Product_ID               int64
Product_Name            object
Product_Type            object
Risk_Level              object
Target_Age_Group       float64
Target_Income_Group     object
dtype: object

In [6]:
# Get summary statistics
print("Statistical Summary:")
df.describe(include='all')

Statistical Summary:

,Product_ID,Product_Name,Product_Type,Risk_Level,Target_Age_Group,Target_Income_Group
count,15.000000,15,15,15,0.0,15
unique,NaN,10,4,3,NaN,3
top,NaN,Platinum Credit Card,Loan,Medium,NaN,Medium
freq,NaN,2,5,9,NaN,6
mean,5.133333,NaN,NaN,NaN,NaN,NaN
std,3.159265,NaN,NaN,NaN,NaN,NaN
min,1.000000,NaN,NaN,NaN,NaN,NaN
25%,2.500000,NaN,NaN,NaN,NaN,NaN
50%,5.000000,NaN,NaN,NaN,NaN,NaN
75%,7.500000,NaN,NaN,NaN,NaN,NaN
max,10.000000,NaN,NaN,NaN,NaN,NaN

In [7]:
# Check for info about the dataset
print("Dataset Info:")
df.info()

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Product_ID           15 non-null     int64
 1   Product_Name         15 non-null     object
 2   Product_Type         15 non-null     object
 3   Risk_Level           15 non-null     object
 4   Target_Age_Group     0 non-null      float64
 5   Target_Income_Group  15 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 852.0+ bytes

In [8]:
# Count missing values per column
missing_values = df.isnull().sum()
missing_percentage = (df.isnull().sum() / len(df)) * 100

# Create a summary DataFrame
missing_summary = pd.DataFrame({
    'Missing Count': missing_values,
    'Missing Percentage (%)': missing_percentage.round(2)
})

print("Missing Values Summary:")
print(missing_summary)
print(f"\nTotal missing values: {df.isnull().sum().sum()}")

Missing Values Summary:
                     Missing Count  Missing Percentage (%)
Product_ID                       0                     0.0
Product_Name                     0                     0.0
Product_Type                     0                     0.0
Risk_Level                       0                     0.0
Target_Age_Group                15                   100.0
Target_Income_Group              0                     0.0

Total missing values: 15

In [9]:
# Visualize missing values
print("\nRows with missing values:")
df[df.isnull().any(axis=1)]

Rows with missing values:

,Product_ID,Product_Name,Product_Type,Risk_Level,Target_Age_Group,Target_Income_Group
0,1,Platinum Credit Card,Credit Card,Medium,NaN,Medium
1,2,Gold Savings Account,Savings Account,Low,NaN,Low
2,3,High-Yield Investment Account,Investment,High,NaN,High
3,4,Mortgage Loan,Loan,Medium,NaN,High
4,5,Auto Loan,Loan,Medium,NaN,Medium
5,6,Personal Loan,Loan,Medium,NaN,Low
6,7,Youth Savings Account,Savings Account,Low,NaN,Low
7,8,Retirement Investment Fund,Investment,High,NaN,High
8,9,Business Loan,Loan,Medium,NaN,Medium
9,10,Travel Credit Card,Credit Card,Medium,NaN,Medium
10,2,Gold Savings Account,Savings Account,Low,NaN,Low
11,10,Travel Credit Card,Credit Card,Medium,NaN,Medium
12,3,High-Yield Investment Account,Investment,High,NaN,High
13,6,Personal Loan,Loan,Medium,NaN,Low
14,1,Platinum Credit Card,Credit Card,Medium,NaN,Medium

In [10]:
# Check for complete duplicates
total_duplicates = df.duplicated().sum()
print(f"Total duplicate rows: {total_duplicates}")

# Display the duplicate rows
if total_duplicates > 0:
    print("\nDuplicate rows:")
    print(df[df.duplicated(keep=False)].sort_values('Product_ID'))

Total duplicate rows: 5

Duplicate rows:
    Product_ID                   Product_Name     Product_Type Risk_Level  \
0            1           Platinum Credit Card      Credit Card     Medium
14           1           Platinum Credit Card      Credit Card     Medium
10           2           Gold Savings Account  Savings Account        Low
1            2           Gold Savings Account  Savings Account        Low
12           3  High-Yield Investment Account       Investment       High
2            3  High-Yield Investment Account       Investment       High
13           6                  Personal Loan             Loan     Medium
5            6                  Personal Loan             Loan     Medium
11          10             Travel Credit Card      Credit Card     Medium
9           10             Travel Credit Card      Credit Card     Medium

    Target_Age_Group Target_Income_Group
0                NaN              Medium
14               NaN              Medium
10               NaN                 Low
1                NaN                 Low
12               NaN                High
2                NaN                High
13               NaN                 Low
5                NaN                 Low
11               NaN              Medium
9                NaN              Medium

In [11]:
# Check for duplicates based on Product_ID (primary key)
duplicate_ids = df[df.duplicated(subset=['Product_ID'], keep=False)]
print(f"\nDuplicate Product_IDs count: {duplicate_ids['Product_ID'].nunique()}")
print("\nRows with duplicate Product_IDs:")
duplicate_ids.sort_values('Product_ID')

Duplicate Product_IDs count: 5

Rows with duplicate Product_IDs:

,Product_ID,Product_Name,Product_Type,Risk_Level,Target_Age_Group,Target_Income_Group
0,1,Platinum Credit Card,Credit Card,Medium,NaN,Medium
14,1,Platinum Credit Card,Credit Card,Medium,NaN,Medium
10,2,Gold Savings Account,Savings Account,Low,NaN,Low
1,2,Gold Savings Account,Savings Account,Low,NaN,Low
12,3,High-Yield Investment Account,Investment,High,NaN,High
2,3,High-Yield Investment Account,Investment,High,NaN,High
13,6,Personal Loan,Loan,Medium,NaN,Low
5,6,Personal Loan,Loan,Medium,NaN,Low
11,10,Travel Credit Card,Credit Card,Medium,NaN,Medium
9,10,Travel Credit Card,Credit Card,Medium,NaN,Medium

In [12]:
# Check unique values in each categorical column
categorical_columns = ['Product_Type', 'Risk_Level', 'Target_Income_Group']

print("Unique values in categorical columns:")
for col in categorical_columns:
    print(f"\n{col}:")
    print(f"  Unique values: {df[col].unique().tolist()}")
    print(f"  Value counts:")
    print(df[col].value_counts())

Unique values in categorical columns:

Product_Type:
  Unique values: ['Credit Card', 'Savings Account', 'Investment', 'Loan']
  Value counts:
Product_Type
Loan               5
Credit Card        4
Savings Account    3
Investment         3
Name: count, dtype: int64

Risk_Level:
  Unique values: ['Medium', 'Low', 'High']
  Value counts:
Risk_Level
Medium    9
Low       3
High      3
Name: count, dtype: int64

Target_Income_Group:
  Unique values: ['Medium', 'Low', 'High']
  Value counts:
Target_Income_Group
Medium    6
Low       5
High      4
Name: count, dtype: int64

In [13]:
# Check for whitespace issues or case inconsistencies
print("Checking for whitespace and case inconsistencies:")
for col in categorical_columns:
    # Check for leading/trailing whitespace
    whitespace_issues = df[col].apply(lambda x: x != str(x).strip() if pd.notna(x) else False).sum()
    print(f"\n{col}:")
    print(f"  Whitespace issues: {whitespace_issues}")
    
    # Display unique values with their lengths to spot hidden characters
    unique_vals = df[col].dropna().unique()
    print(f"  Values with lengths: {[(v, len(v)) for v in unique_vals]}")

Checking for whitespace and case inconsistencies:

Product_Type:
  Whitespace issues: 0
  Values with lengths: [('Credit Card', 11), ('Savings Account', 15), ('Investment', 10), ('Loan', 4)]

Risk_Level:
  Whitespace issues: 0
  Values with lengths: [('Medium', 6), ('Low', 3), ('High', 4)]

Target_Income_Group:
  Whitespace issues: 0
  Values with lengths: [('Medium', 6), ('Low', 3), ('High', 4)]

In [14]:
# Check Target_Age_Group column specifically
print("Target_Age_Group Analysis:")
print(f"Unique values: {df['Target_Age_Group'].unique()}")
print(f"Non-null count: {df['Target_Age_Group'].notna().sum()}")
print(f"Null count: {df['Target_Age_Group'].isna().sum()}")
print(f"\nConclusion: Target_Age_Group has 100% missing values - will be dropped.")

Target_Age_Group Analysis:
Unique values: [nan]
Non-null count: 0
Null count: 15

Conclusion: Target_Age_Group has 100% missing values - will be dropped.

In [15]:
# Create a copy of the original dataframe for preprocessing
df_cleaned = df.copy()
print(f"Original dataset shape: {df.shape}")
print("Copy created for preprocessing.")

Original dataset shape: (15, 6)
Copy created for preprocessing.

In [16]:
# Remove exact duplicates (keeping first occurrence)
print("Before removing duplicates:")
print(f"  Total rows: {len(df_cleaned)}")
print(f"  Duplicate rows: {df_cleaned.duplicated().sum()}")

# Remove duplicates
df_cleaned = df_cleaned.drop_duplicates(keep='first')

print("\nAfter removing duplicates:")
print(f"  Total rows: {len(df_cleaned)}")
print(f"  Rows removed: {len(df) - len(df_cleaned)}")

Before removing duplicates:
  Total rows: 15
  Duplicate rows: 5

After removing duplicates:
  Total rows: 10
  Rows removed: 5

In [17]:
# Verify no duplicates remain
print(f"\nRemaining duplicates: {df_cleaned.duplicated().sum()}")
print(f"Unique Product_IDs: {df_cleaned['Product_ID'].nunique()}")
print(f"Total rows: {len(df_cleaned)}")

Remaining duplicates: 0
Unique Product_IDs: 10
Total rows: 10

In [18]:
# Display the cleaned dataset after duplicate removal
print("Dataset after removing duplicates:")
df_cleaned

Dataset after removing duplicates:

,Product_ID,Product_Name,Product_Type,Risk_Level,Target_Age_Group,Target_Income_Group
0,1,Platinum Credit Card,Credit Card,Medium,NaN,Medium
1,2,Gold Savings Account,Savings Account,Low,NaN,Low
2,3,High-Yield Investment Account,Investment,High,NaN,High
3,4,Mortgage Loan,Loan,Medium,NaN,High
4,5,Auto Loan,Loan,Medium,NaN,Medium
5,6,Personal Loan,Loan,Medium,NaN,Low
6,7,Youth Savings Account,Savings Account,Low,NaN,Low
7,8,Retirement Investment Fund,Investment,High,NaN,High
8,9,Business Loan,Loan,Medium,NaN,Medium
9,10,Travel Credit Card,Credit Card,Medium,NaN,Medium

In [19]:
# Check current missing values
print("Current missing values:")
print(df_cleaned.isnull().sum())

Current missing values:
Product_ID              0
Product_Name            0
Product_Type            0
Risk_Level              0
Target_Age_Group       10
Target_Income_Group     0
dtype: int64

In [20]:
# Drop the Target_Age_Group column since ALL values are missing (100% null)
# A column with no data provides no useful information

print("Columns before dropping:")
print(df_cleaned.columns.tolist())

# Drop the column
df_cleaned = df_cleaned.drop(columns=['Target_Age_Group'])

print("\nColumns after dropping Target_Age_Group:")
print(df_cleaned.columns.tolist())

Columns before dropping:
['Product_ID', 'Product_Name', 'Product_Type', 'Risk_Level', 'Target_Age_Group', 'Target_Income_Group']

Columns after dropping Target_Age_Group:
['Product_ID', 'Product_Name', 'Product_Type', 'Risk_Level', 'Target_Income_Group']

In [21]:
# Verify missing values after dropping the column
print("Missing values after dropping Target_Age_Group:")
print(df_cleaned.isnull().sum())
print(f"\nTotal missing values: {df_cleaned.isnull().sum().sum()}")

Missing values after dropping Target_Age_Group:
Product_ID             0
Product_Name           0
Product_Type           0
Risk_Level             0
Target_Income_Group    0
dtype: int64

Total missing values: 0

In [22]:
# Standardize text columns: strip whitespace
text_columns = ['Product_Name', 'Product_Type', 'Risk_Level', 'Target_Income_Group']

for col in text_columns:
    # Strip leading/trailing whitespace
    df_cleaned[col] = df_cleaned[col].str.strip()
    
print("Text columns standardized (whitespace removed)")

Text columns standardized (whitespace removed)

In [23]:
# Standardize categorical values to Title Case for consistency
categorical_cols = ['Risk_Level', 'Target_Income_Group']

for col in categorical_cols:
    df_cleaned[col] = df_cleaned[col].str.title()

print("Categorical columns standardized to Title Case")
print(f"\nRisk_Level unique values: {df_cleaned['Risk_Level'].unique().tolist()}")
print(f"Target_Income_Group unique values: {df_cleaned['Target_Income_Group'].unique().tolist()}")

Categorical columns standardized to Title Case

Risk_Level unique values: ['Medium', 'Low', 'High']
Target_Income_Group unique values: ['Medium', 'Low', 'High']

In [24]:
# Validate categorical values against expected values
expected_values = {
    'Risk_Level': ['Low', 'Medium', 'High'],
    'Target_Income_Group': ['Low', 'Medium', 'High']
}

print("Validating categorical values:")
for col, expected in expected_values.items():
    actual = df_cleaned[col].unique().tolist()
    invalid = [v for v in actual if v not in expected]
    print(f"\n{col}:")
    print(f"  Expected: {expected}")
    print(f"  Actual: {actual}")
    print(f"  Invalid values: {invalid if invalid else 'None'}")

Validating categorical values:

Risk_Level:
  Expected: ['Low', 'Medium', 'High']
  Actual: ['Medium', 'Low', 'High']
  Invalid values: None

Target_Income_Group:
  Expected: ['Low', 'Medium', 'High']
  Actual: ['Medium', 'Low', 'High']
  Invalid values: None

In [25]:
# Convert columns to appropriate data types
print("Current data types:")
print(df_cleaned.dtypes)

# Convert Product_ID to integer
df_cleaned['Product_ID'] = df_cleaned['Product_ID'].astype(int)

# Convert categorical columns to category dtype for efficiency
categorical_columns = ['Product_Type', 'Risk_Level', 'Target_Income_Group']
for col in categorical_columns:
    df_cleaned[col] = df_cleaned[col].astype('category')

print("\nUpdated data types:")
print(df_cleaned.dtypes)

Current data types:
Product_ID              int64
Product_Name           object
Product_Type           object
Risk_Level             object
Target_Income_Group    object
dtype: object

Updated data types:
Product_ID                int64
Product_Name             object
Product_Type           category
Risk_Level             category
Target_Income_Group    category
dtype: object

In [26]:
# Reset index after removing duplicates
df_cleaned = df_cleaned.reset_index(drop=True)
print("Index reset successfully")
print(f"New index range: 0 to {len(df_cleaned) - 1}")

Index reset successfully
New index range: 0 to 9

In [27]:
# Final verification
print("=" * 60)
print("DATA PREPROCESSING SUMMARY")
print("=" * 60)

print(f"\n1. SHAPE")
print(f"   Original: {df.shape}")
print(f"   Cleaned:  {df_cleaned.shape}")

print(f"\n2. MISSING VALUES")
print(f"   Original: {df.isnull().sum().sum()}")
print(f"   Cleaned:  {df_cleaned.isnull().sum().sum()}")

print(f"\n3. DUPLICATES")
print(f"   Original: {df.duplicated().sum()}")
print(f"   Cleaned:  {df_cleaned.duplicated().sum()}")

print(f"\n4. UNIQUE PRODUCT IDs")
print(f"   Original: {df['Product_ID'].nunique()}")
print(f"   Cleaned:  {df_cleaned['Product_ID'].nunique()}")

print(f"\n5. COLUMNS")
print(f"   Original: {df.columns.tolist()}")
print(f"   Cleaned:  {df_cleaned.columns.tolist()}")

============================================================
DATA PREPROCESSING SUMMARY
============================================================

1. SHAPE
   Original: (15, 6)
   Cleaned:  (10, 5)

2. MISSING VALUES
   Original: 15
   Cleaned:  0

3. DUPLICATES
   Original: 5
   Cleaned:  0

4. UNIQUE PRODUCT IDs
   Original: 10
   Cleaned:  10

5. COLUMNS
   Original: ['Product_ID', 'Product_Name', 'Product_Type', 'Risk_Level', 'Target_Age_Group', 'Target_Income_Group']
   Cleaned:  ['Product_ID', 'Product_Name', 'Product_Type', 'Risk_Level', 'Target_Income_Group']

In [28]:
# Display the final cleaned dataset
print("\nFINAL CLEANED DATASET:")
df_cleaned

FINAL CLEANED DATASET:

,Product_ID,Product_Name,Product_Type,Risk_Level,Target_Income_Group
0,1,Platinum Credit Card,Credit Card,Medium,Medium
1,2,Gold Savings Account,Savings Account,Low,Low
2,3,High-Yield Investment Account,Investment,High,High
3,4,Mortgage Loan,Loan,Medium,High
4,5,Auto Loan,Loan,Medium,Medium
5,6,Personal Loan,Loan,Medium,Low
6,7,Youth Savings Account,Savings Account,Low,Low
7,8,Retirement Investment Fund,Investment,High,High
8,9,Business Loan,Loan,Medium,Medium
9,10,Travel Credit Card,Credit Card,Medium,Medium

In [29]:
# Final data quality check
print("\nFinal Data Quality Check:")
print(df_cleaned.info())

Final Data Quality Check:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Product_ID           10 non-null     int64
 1   Product_Name         10 non-null     object
 2   Product_Type         10 non-null     category
 3   Risk_Level           10 non-null     category
 4   Target_Income_Group  10 non-null     category
dtypes: category(3), int64(1), object(1)
memory usage: 790.0+ bytes
None

In [30]:
# Display statistics of the cleaned data
print("\nDescriptive Statistics:")
df_cleaned.describe(include='all')

Descriptive Statistics:

,Product_ID,Product_Name,Product_Type,Risk_Level,Target_Income_Group
count,10.00000,10,10,10,10
unique,NaN,10,4,3,3
top,NaN,Platinum Credit Card,Loan,Medium,Medium
freq,NaN,1,4,6,4
mean,5.50000,NaN,NaN,NaN,NaN
std,3.02765,NaN,NaN,NaN,NaN
min,1.00000,NaN,NaN,NaN,NaN
25%,3.25000,NaN,NaN,NaN,NaN
50%,5.50000,NaN,NaN,NaN,NaN
75%,7.75000,NaN,NaN,NaN,NaN
max,10.00000,NaN,NaN,NaN,NaN

In [31]:
# Save the cleaned dataset to a new CSV file
output_filename = 'Product_Offering_Data_Cleaned.csv'
df_cleaned.to_csv(output_filename, index=False)
print(f"Cleaned dataset saved to: {output_filename}")

Cleaned dataset saved to: Product_Offering_Data_Cleaned.csv

In [32]:
# Verify the saved file
df_verify = pd.read_csv(output_filename)
print(f"\nVerification - Loaded saved file:")
print(f"Shape: {df_verify.shape}")
print(f"Columns: {df_verify.columns.tolist()}")
df_verify

Verification - Loaded saved file:
Shape: (10, 5)
Columns: ['Product_ID', 'Product_Name', 'Product_Type', 'Risk_Level', 'Target_Income_Group']

,Product_ID,Product_Name,Product_Type,Risk_Level,Target_Income_Group
0,1,Platinum Credit Card,Credit Card,Medium,Medium
1,2,Gold Savings Account,Savings Account,Low,Low
2,3,High-Yield Investment Account,Investment,High,High
3,4,Mortgage Loan,Loan,Medium,High
4,5,Auto Loan,Loan,Medium,Medium
5,6,Personal Loan,Loan,Medium,Low
6,7,Youth Savings Account,Savings Account,Low,Low
7,8,Retirement Investment Fund,Investment,High,High
8,9,Business Loan,Loan,Medium,Medium
9,10,Travel Credit Card,Credit Card,Medium,Medium

In [33]:
print("=" * 60)
print("SUMMARY STATISTICS")
print("=" * 60)
print(f"Original rows:     {len(df)}")
print(f"Cleaned rows:      {len(df_cleaned)}")
print(f"Rows removed:      {len(df) - len(df_cleaned)}")
print(f"Original columns:  {len(df.columns)}")
print(f"Cleaned columns:   {len(df_cleaned.columns)}")
print(f"Columns dropped:   Target_Age_Group (100% missing)")
print(f"Missing values:    {df_cleaned.isnull().sum().sum()} (was {df.isnull().sum().sum()})")
print(f"Duplicate rows:    {df_cleaned.duplicated().sum()} (was {df.duplicated().sum()})")
print("=" * 60)
print("PREPROCESSING COMPLETE!")
print("=" * 60)
print("\nWorkflow completed:")
print("1. Dataset loaded from CSV file")
print("2. Data explored and quality issues identified")
print("3. Duplicates removed (5 duplicate rows)")
print("4. Missing values handled (Target_Age_Group column dropped)")
print("5. Inconsistent values fixed (whitespace stripped, case standardized)")
print("6. Data types converted (categorical columns optimized)")
print("7. Index reset for clean sequential numbering")
print("8. Data exported to CSV")
print(f"\nCleaned dataset is ready: {output_filename}")
print("\n" + "=" * 60)

============================================================
SUMMARY STATISTICS
============================================================
Original rows:     15
Cleaned rows:      10
Rows removed:      5
Original columns:  6
Cleaned columns:   5
Columns dropped:   Target_Age_Group (100% missing)
Missing values:    0 (was 15)
Duplicate rows:    0 (was 5)
============================================================
PREPROCESSING COMPLETE!
============================================================

Workflow completed:
1. Dataset loaded from CSV file
2. Data explored and quality issues identified
3. Duplicates removed (5 duplicate rows)
4. Missing values handled (Target_Age_Group column dropped)
5. Inconsistent values fixed (whitespace stripped, case standardized)
6. Data types converted (categorical columns optimized)
7. Index reset for clean sequential numbering
8. Data exported to CSV

Cleaned dataset is ready: Product_Offering_Data_Cleaned.csv

============================================================